<h1>This is a Sercret Page!</h1>

<img src="https://media.giphy.com/media/MX3tvmcqg0QGRWkpUb/giphy.gif">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>